@import "tailwindcss";

@layer base {
  :root {
    --text: #080d0a;
    --background: #f8f9fa;
    --primary: #0d6efd;
    --secondary: #6c757d;
    --accent: #198754;
  }

  /* Dark Mode */
  .dark {
    --text: #f8f9fa;
    --background: #212529;
    --primary: #0d6efd;
    --secondary: #6c757d;
    --accent: #198754;
  }
}
